{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4 pt-6 mt-6">
    <div class="level mb-0 is-unselectable">
        <span class="title is-3">Зміна паролю</span>
        <ion-icon name="key-outline" size="large"></ion-icon>
    </div>

    <div class="box">
        {% include "notification.html" %}
        <form method="POST" action="">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Логін" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="prev_password" placeholder="Старий пароль">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password" placeholder="Новий пароль">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Зберегти</button>
        </form>
    </div>
</div>
{% endblock %}