{% extends "base.html" %}

{% block content %}
<div class="container pt-6 mt-6">
    <div class="message is-dark" id="card_shadow">
        <div class="message-header">
            <div class="level-left">
                {% block message_header %}
                {% endblock %}
            </div>
        </div>
        <div class="message-body">
            {% include 'notification.html' %}
            {% block message_body %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}